@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --fade-white: #b3b3b3;
}

body {
    background: black;
}

#Fullwebsite-Wrapper {
    max-width: 100%;
    height: 100vh;
    border: 5px solid black;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#Fullwebsite-Wrapper>header {
    width: 100%;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    padding: 5px;
}

#Fullwebsite-Wrapper>header>aside {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#Fullwebsite-Wrapper>header>aside:first-child {
    padding: 5px 30px;
}

.fa-spotify {
    font-size: 30px;
    color: white;
}

.search-outer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-outer .fa-house {
    width: 45px;
    height: 45px;
    background: rgba(49, 49, 49, 0.626);
    font-size: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 100px #393838 inset;
    cursor: pointer;
}

.search-outer div {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    background: #1f1f1f;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 10px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.search-outer div:hover {
    box-shadow:
        0px 0px 100px #393838 inset;
}

.search-outer .fa-magnifying-glass {
    font-size: 25px;
    color: var(--fade-white);
}

.search-outer div input {
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    color: var(--fade-white);
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 0px;
    border-right: 0.01px solid var(--fade-white);
}

.fa-folder-open {
    font-size: 20px;
    color: var(--fade-white);
}

#Fullwebsite-Wrapper>header aside:last-child {
    color: var(--fade-white);
    font-weight: 700;
    font-size: 16px;
}

#Fullwebsite-Wrapper>header aside:last-child ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 20px;
}

#Fullwebsite-Wrapper>header aside:last-child ul:first-child {
    border-right: 0.01px solid var(--fade-white);
}

#Fullwebsite-Wrapper>header aside:last-child ul li {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

#Fullwebsite-Wrapper>header aside:last-child ul:last-child {
    font-size: 14px;
    gap: 20px;
}

.fa-arrow-down {
    width: 18px;
    height: 18px;
    border: 2px solid var(--fade-white);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
}

#Fullwebsite-Wrapper>header aside:last-child ul:last-child button {
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: black;
    background: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}

#Fullwebsite-Wrapper>header aside:last-child ul:last-child li:last-child {
    font-size: 20px;
    padding: 5px 10px;
    display: none;
}
#Fullwebsite-Wrapper>header aside:last-child ul li:hover{
    color: white;
}

.formobile {
    display: none;
}

.menuBlackBg {
    display: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}

main aside {
    background: #121212;
    border-radius: 5px;
}

main aside:first-child {
    width: 25%;
    height: -webkit-fill-available;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    left: 0px;
    gap: 25px;
    overflow: scroll;
}

main aside:last-child {
    width: 74.7%;
    height: -webkit-fill-available;
    margin-bottom: 10px;
    position: absolute;
    right: 0px;
    background: linear-gradient(180deg, #181818, #121212);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.TabmenuItems {
    display: none;
}

.library-wrapper>div:first-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0px 10px 5px;
    gap: 40px;
    overflow: hidden;
    position: relative;
    top: 0px;
}

.library-top>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.library-wrapper>div:first-child span {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.library-wrapper>div:first-child i {
    font-size: 16px;
    color: var(--fade-white);
    padding: 10px;
    border-radius: 50px;
}

.library-wrapper>div:first-child i:hover {
    background: #1f1f1f;
    color: white;
}

.playlist-data {
    width: auto;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: scroll;
}

.create-playlist,
.Browse-podcast {
    width: 100%;
    border-radius: 10px;
    background: #1f1f1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.create-playlist ul,
.Browse-podcast ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-playlist ul li:first-child,
.Browse-podcast ul li:first-child {
    font-weight: 700;
    color: white;
    font-size: 16px;
}

.create-playlist ul li:last-child,
.Browse-podcast ul li:last-child {
    font-weight: 400;
    color: white;
    font-size: 14px;
}

.create-playlist button,
.Browse-podcast button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    color: black;
    background: white;
    font-size: 14px;
    border: none;
}

.library-wrapper>div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 20px 40px 20px;
    background: #121212;
    position: relative;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;

}

.library-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

}

.library-footer>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.library-footer>ul li {
    font-weight: 400;
    color: var(--fade-white);
    font-size: 11px;
}

.library-footer a {
    font-weight: 400;
    font-size: 12px;
    color: whitesmoke;
}

.library-footer a:hover {
    text-decoration: underline;
}

.library-wrapper>div:last-child button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #121212;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #7c7c7c;
}

.library-wrapper div:last-child button i {
    color: white;
    font-size: 14px;
}

.library-wrapper div:last-child button span {
    font-weight: 700;
    color: white;
    font-size: 14px;
}

.Trending-song {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 15px;
    position: relative;
}

.song-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    top: 20px;
    left: 0px;
    overflow: scroll;
    flex: 0 0 auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.Song-cards-head-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.Song-cards-head-title span {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.Song-cards-head-title button {
    font-size: 15px;
    font-weight: 600;
    color: var(--fade-white);
    background: transparent;
    border: none;
}

.img-Caption-wrapper {
    width: max-content;
    display: flex;
    flex-direction: row;
}

.img-Caption {
    width: min-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10px;
}

.img-Caption figure {
    position: relative;
    overflow: hidden;
}

.fa-play {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #1ED760;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
    transition: 0.1s;

}

.img-Caption:hover .fa-play {
    transform: scale(1);
    transform-origin: bottom;
    opacity: 1;
    transition: 0.1s;
}

.img-Caption figure {
    width: 100%;
}

.img-Caption figure img {
    max-width: 214px;
    border-radius: 10px;
}

.song-cards div:last-child h3 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.song-cards div:last-child p {
    font-size: 14px;
    font-weight: 400;
    color: var(--fade-white);
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.img-Caption:hover {
    background: rgb(37 37 37 / 61%);
}

.Artist figure img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
}

.popular-radio h3 {
    display: none;
}

.right-aside-footer {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 20px 30px 20px;
    flex-wrap: wrap;
}

.right-aside-footer-wrapper {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-aside-footer-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-aside-footer-wrapper ul li span {
    font-weight: 700;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.right-aside-footer-wrapper ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--fade-white);
}

.right-aside-footer-wrapper ul li a:hover {
    text-decoration: underline;
    color: white;
}

.right-aside-footer div:last-child {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.right-aside-footer div:last-child ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-aside-footer div:last-child ul li {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #292929;
}

.copyright-section {
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.copyright-wrapper {
    padding: 30px 0px 50px 0px;
    border-top: 1px solid #2a2a2a;
}

.copyright-wrapper span {
    font-weight: 400;
    font-size: 14px;
    color: var(--fade-white);
}
.copyright-wrapper>div{
    display: none;
}
.copyright-wrapper button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #121212;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #7c7c7c;

}
.copyright-wrapper button span {
    font-weight: 600;
    color: white;
}
.copyright-wrapper button{
    display: none;
}

footer {
    width: 100%;
    height: max-content;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, #A12B82, #5B65D9);
    position: relative;
    bottom: 0px;
    padding: 15px 20px;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

footer div p:first-child {
    font-weight: 700;
    font-size: 14px;
}

footer button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
}